@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Orbitron&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Outfit:wght@200&display=swap');

/*

Titulos: font-family: 'Crete Round', serif;
paragrafos e links: font-family: 'Outfit', serif;

background-image: linear-gradient(120deg, #3f51b5, #03a9f4);


*/


/*Media para celulares*/
@media only screen and (max-width: 667px) {

    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-image: linear-gradient(120deg, #3f51b5, #03a9f4);
        color: white;
    }
    
    header {
        display: flex;
        flex-direction: column;
    }

    .h-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;

        margin-bottom: 26px;
    }

    .h-titulo {
        font-family: 'Crete Round', serif;
        font-weight: 400;

        font-size: 67px;
    }

    .h-subtitulo {
        font-family: 'Outfit', serif;
        font-size: 25px;
    }

    .nav-section {
        margin: 0px 0px 15px 10px;

        display: flex;
        gap: 7px;
        
    }

    .nav-item-1, .nav-item-2, .nav-item-3 {
        font-family: 'Outfit', serif;

        text-decoration: none;
        color: white;
    }

    .sesao-um, .sesao-dois, .sesao-tres {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div-sesao-um, .div-sesao-dois {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .titulo-sesao-um, .titulo-sesao-dois, .titulo-botao {
        font-family: 'Crete Round', serif;
        font-weight: 400;
    }

    .paragrafo-sesao-um, .paragrafo-sesao-dois, .botao, .lista {
        font-family: 'Outfit', serif;
    }

    .paragrafo-sesao-um, .paragrafo-sesao-dois {
        text-align: justify;
    }
    
    .sesao-tres {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .botao {
        margin: 13px 0px 10px 0px;

        width: 100px;
        height: 30px;

        border-radius: 10px;
        border: none;

        background-color: black;
        color: white;

    }

    footer {
        background-color: black;
        font-size: 13px;

        padding: 0px 2px 0px 20px;
    }

    .itens {
        padding: 4px;
    }

}