@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Silkscreen&display=swap');

:root {

    --cor0: #15c3e8;
    --cor1: #1692f2;
    --cor2: #1e56db;
    --cor3: #161ef2;
    --cor4: #4615e8;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    height: 15vh;

    background-image: linear-gradient(to top, #1e56db, #1692f2);
}

header h1 {
    text-align: center;
    font-family: 'Silkscreen', cursive;
    color: white;

    text-shadow: 2px 2px black;

    padding: 10px;
}

nav {
    padding: 4px;
    border-bottom: 1px solid;
    border-top: 1px solid;

    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.375);

    background-color: var(--cor2);
}

nav a {
    text-decoration: none;
    color: white;

    font-family: 'Orbitron', sans-serif;
    font-weight: bold;

    padding-right: 6px;
    margin: 10px;

    text-shadow: 2px 2px black;
}

nav a:hover {
    padding: 3px;
    border-radius: 5px;

    background-color: #4615e8;

    transition: 0.5s;
}

body {
    background-color: var(--cor0);
}

main {
    margin: 2vw;
    border: 1px solid;
    border-radius: 5px;
    padding: 2vw;

    box-shadow: 2px 2px  rgba(0, 0, 0, 0.276);

    background-color: white;
}

main h1 {
    padding: 4px;
    border-radius: 5px;

    text-shadow: 2px 2px black;
    
    background-image: linear-gradient(to right, #1e57db 25%, #1693f27c);

    color: white;

    font-family: 'Silkscreen', cursive;
}

main p {
    margin: 2vw;

    text-align: justify;
    font-family: 'Orbitron';
}

footer {
    height: 25px;
    background-color: black;
}

footer h1 {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;

    
    color: white;
}